<!DOCTYPE html>
<html> 
<head>
<meta charset="utf-8"/>
<meta name="viewport" content="width=device-width, initial-scale=1.0"/>
<title>二药三杰</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/index.css') }}">
<!--<link href="css/style.css" media="screen" rel="stylesheet" type="text/css"/>-->
<!--<link href="css/index.css" media="screen" rel="stylesheet" type="text/css"/>-->
         <script src="{{ url_for('static', filename='js/vendor/custom.modernizr-10edc0fdd7691ce0099730e56622df91.js') }}"></script>
<!--<script src="js/custom.modernizr-10edc0fdd7691ce0099730e56622df91.js" type="text/javascript"></script>-->
<script type="text/javascript">

	
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2195009-2']);
  _gaq.push(['_trackPageview']);

 
  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-2195009-54']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script>
 
<script type="application/ld+json">
		{ "@context" : "http://schema.org",
		  "@type" : "Organization",
		  "name" : "ZURB Inc.",
		  "url" : "http://zurb.com",
		  "logo" : "http://zurb.com/assets/logo/zurb-logo-blk-retina.png", 
		  	"sameAs" : [ "http://facebook.com/zurb",
		    "http://twitter.com/zurb",
		    "http://youtube.com/zurb"] 
		}
	</script>
</head>
<body id="page" class="off-canvas hide-extras zurb-dot-com">
<section role="main">
<div class="main-header services home" style="overflow: hidden">
<nav class="global-nav top-bar">
<ul class="title-area">
<li class="name">
<a class="sidebar-button show-for-small" id="sidebarButton" href="#sidebar"><img alt="Menu-icon" src="http://zurb.com/assets/offcanvas/menu-icon-e83086c09404412657dd5591074dbb3c.png"/></a>
<h1><a href="/" class="services" title="aimforgoogle">aimforgoogle</a></h1>
</li>
</ul>
<section class="top-bar-section">
<ul class="right">
<li><a href="/about">About</a></li>
<li><a href="http://zurb.com/blog">Blog</a></li>
<li><a href="http://zurb.com/news">News &amp; Events</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</section>
</nav>
<div class="text-overlay text-center">
<div class="header-text">
<h1 class="light white-text text-center">二药最强研发</h1>
<div class="row">
<div class="large-8 columns large-centered text-center">
<p class="lead white-text">一个低调的团队，一个为梦想而努力奋斗的team，我们努力到现在不为别的，只为感动自己而存在</p>
<a href="http://embed.wistia.com/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" class="green button pause-play-button">welcome view team &rarr;</a>
</div>
</div>
</div>
<a class="small button pause-video"></a>
</div>
<div class="video-wrapper hide-for-small">
<video id="studiosBackground">
<source src="http://embed.wistia.com/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.mp4" type="video/mp4">
<source src="http://d3uqdvietz3th5.cloudfront.net/studios.webm" type="video/webm">
<source src="http://embed.wistia.com/deliveries/26a88bbc3265ed2385ee78bd332adebb32648da1/file.ogv" type="video/ogg">
</video>
<video id="studiosBackgroundLoop" autoplay loop muted>
<source src="http://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.mp4?03202014" type="video/mp4">
<source src="http://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.webm?03202014" type="video/webm">
<source src="http://d3uqdvietz3th5.cloudfront.net/studios-trailer3202014.ogv?03202014" type="video/ogg">
</video>
</div>
<p class="lead scroll">Or keep on scrolling</p>
</div>
 
<div class="row">
<div class="medium-10 large-9 columns medium-centered">
<p class="lead large text-center">我们</p>
<br>
<p class="lead large text-center">我们有各种联系方式。方式太多。语言太奇葩，所以简单点，qq邮箱吧--- <a href="/cdn-cgi/l/email-protection#2047455453544152544544605a5552420e434f4d"><span class="__cf_email__" data-cfemail="4f282a3b3c3b2e3d3b2a2b0f353a3d2d612c2022">939049845@qq.com</span></a>快点联系我们吧</p>
<br>
</div>
</div>
<div class="row bump-25 collapse bu">
<div class="medium-3 columns">
<a href="/studios" class="centered-text click-block">
<img alt="Home-studios" class="home-img" src="images/home-studios-151524eefff66c6b1dacd774eed8bcc8.png"/>
<div class="inset">
<h3 class="title light">python</h3>
<span class="normal-text">我们使用它，充满想象力和创造力，发挥Python敏捷开发的优势，贯彻始终。游刃有余</span>
<span class="normal-text"><strong class="green-color darker">Let&rsquo;s Work Together →</strong></span>
</div>
</a>
</div>
<div class="medium-3 columns">
<a href="http://foundation.zurb.com" class="centered-text click-block">
<img alt="Home-foundation" class="home-img" src="{{ url_for('static', filename='images/home-foundation-d20c46cd5f47f14553e15eb18ad10eaf.png') }}"/>
<div class="inset">
<h3 class="title light">Foundation</h3>
<span class="normal-text">我们使用它，充满想象力和创造力，发挥Python敏捷开发的优势，贯彻始终。游刃有余</span>
<span class="normal-text"><strong class="green-color darker">Download Foundation →</strong></span>
</div>
</a>
</div>
<div class="medium-3 columns">
<a href="/apps" class="centered-text click-block">
<img alt="Home-notable" class="home-img" src="{{ url_for('static', filename='images/home-notable-353f3deff0d4efaa9b47732c6b268141.png') }}"/>
<div class="inset">
<h3 class="title light">Notable</h3>
<span class="normal-text">我们使用它，充满想象力和创造力，发挥Python敏捷开发的优势，贯彻始终。游刃有余</span>
<span class="normal-text"><strong class="green-color darker">Try Notable →</strong></span>
</div>
</a>
</div>
<div class="medium-3 columns">
<a href="/university" class="centered-text click-block">
<img alt="Home-university" class="home-img" src="{{ url_for('static', filename='images/home-university-5067b21195f398d1754713d895d6aa77.png') }}"/>
<div class="inset">
<h3 class="title light">University</h3>
<span class="normal-text">我们使用它，充满想象力和创造力，发挥Python敏捷开发的优势，贯彻始终。游刃有余</span>
<span class="normal-text"><strong class="green-color darker">Start Learning →</strong></span>
</div>
</a>
</div>
</div>
<div class="row">
<div class="large-12 columns">
<hr class="dotted">
</div>
</div>
<div class="row blog-feature">
<div class="large-10 columns large-centered">
<span class="type centered-text">Latest from our Blog</span>
<span class="title centered-text"><a href="http://zurb.com/blog/1387">The Designer Litmus Test </a></span>
<div class="comment-author-line">
<p class="centered-text">
Alina wrote on May 08, 2015</a>
</p>
</div>
<span class="blurb normal-text">Brace yourself for the truth: product designers are not born with the gift of design. Many &amp;#8212; scratch that &amp;#8212; &lt;em&gt;all &lt;/em&gt;design skills can be learned by any willing individual. It&#x27;s a certain combination of personality traits, not the skills, that make certain people better suited for solving problems through design. Just like being a nurturer makes people likely to pursue nursing or gardening, and being a firefighter or an entrepreneur means being open to unce...<span class="continue green-color darker"><a href="http://zurb.com/blog/1387">Keep reading</a></span>
</span>
</div>
</div>
<div class="gray callout home-logos">
<div class="row">
<div class="large-12 columns">
<h4 class="centered-text lead bottom-40">Since 1998, our products & services have helped thousands of startups and teams get stuff done:</h4>
<ul class="zurb-logos show-for-small">
<li><img alt="Mcafee" src="images/mcafee-9acf620a171ff75318c525b9faab8386.png"/></li>
<li><img alt="Mozilla" src="images/mozilla-b54f91471201997852a71da50c989548.png"/></li>
<li><img alt="Intuit" src="images/intuit-17a0a19e0f68e5304259f84476c06395.png"/></li>
<li><img alt="Ebay" src="images/ebay-bac9c3cb5f0ba2393d1d7e9a18afabcb.png"/></li>
<li><img alt="Yahoo" src="images/yahoo-c9363f3e35f66faa4d844e73a5a22d07.png"/></li>
<li><img alt="Netflix" src="images/netflix-eaeff4a00d64cccdf84f74bab1d4200a.png"/></li>
</ul>
<ul class="zurb-logos hide-for-small">
<li><img alt="Facebook" src="images/facebook-2718b5d0b117d311624e744a7efc1987.png"/></li>
<li><img alt="Mcafee" src="images/mcafee-9acf620a171ff75318c525b9faab8386.png"/></li>
<li><img alt="Mozilla" src="images/mozilla-b54f91471201997852a71da50c989548.png"/></li>
<li><img alt="Intuit" src="images/intuit-17a0a19e0f68e5304259f84476c06395.png"/></li>
<li><img alt="Ebay" src="images/ebay-bac9c3cb5f0ba2393d1d7e9a18afabcb.png"/></li>
<li class="hide-medium"><img alt="Yahoo" src="images/yahoo-c9363f3e35f66faa4d844e73a5a22d07.png"/></li>
<li><img alt="Netflix" src="images/netflix-eaeff4a00d64cccdf84f74bab1d4200a.png"/></li>
</ul>
<ul class="zurb-logos show-for-large-up">
<li><img alt="Pixar" src="images/pixar-3c41e9a023399908d2b45f57c64a6641.png"/></li>
<li><img alt="Losalamos" src="images/losalamos-ea9fe705a30b8d0ad13ae92115bfdd09.png"/></li>
<li><img alt="Webfwd" src="images/webfwd-e2d4a782558cbc5172ba7cdd0ba72282.png"/></li>
<li><img alt="Natgeo" src="images/natgeo-cea78e7b7770973a735f595b8f39b495.png"/></li>
<li><img alt="Equinix" src="images/equinix-513e1698c893d5b76974d7256e1f821a.png"/></li>
<li><img alt="Felix" src="images/felix-eb563ed2759c80d2d434b2dfe524bbf0.png"/></li>
</ul>
</div>
</div>
</div>
<div class="zurb-footer-bottom">
<div class="row">
<div class="medium-4 large-4 push-8 columns">
<ul class="home-social">
<li><a href="http://www.twitter.com/ZURB" class="twitter"></a></li>
<li><a href="http://www.facebook.com/ZURB" class="facebook"></a></li>
<li><a href="/contact" class="mail"></a></li>
</ul>
</div>
<div class="medium-8 large-8 pull-4 columns">
<a href="http://www.aimforgoogle.com" class="zurb-logo regular"></a>
<p class="copyright">&copy; 2014&ndash;2015 AimForGoogle, Team. All rights reserved.</p>
</div>
</div>
</div>
 
<script src="js/application-460233b47c8280a66f61b392aa76799a.js" type="text/javascript"></script>
<script>
  $(document).foundation();
</script>
<script type="text/javascript">
/* <![CDATA[ */
(function(){try{var s,a,i,j,r,c,l=document.getElementsByTagName("a"),t=document.createElement("textarea");for(i=0;l.length-i;i++){try{a=l[i].getAttribute("href");if(a&&a.indexOf("/cdn-cgi/l/email-protection") > -1  && (a.length > 28)){s='';j=27+ 1 + a.indexOf("/cdn-cgi/l/email-protection");if (a.length > j) {r=parseInt(a.substr(j,2),16);for(j+=2;a.length>j&&a.substr(j,1)!='X';j+=2){c=parseInt(a.substr(j,2),16)^r;s+=String.fromCharCode(c);}j+=1;s+=a.substr(j,a.length-j);}t.innerHTML=s.replace(/</g,"&lt;").replace(/>/g,"&gt;");l[i].setAttribute("href","mailto:"+t.value);}}catch(e){}}}catch(e){}})();
/* ]]> */
</script>
</body>
</html>
</section>
<section id="sidebar" role="complementary">
 
<div class="main-menu">
<h6>ZURB.com</h6>
<nav id="sideMenu" role="navigation">
<ul id="sideMainNav" class="nav-bar">
<li><a href="/" class="current">Home</a></li>
<li><a href="/about">About</a></li>
<li><a href="http://zurb.com/blog">Blog</a></li>
<li><a href="http://zurb.com/news">News & Events</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
</nav>
</div>
<hr>
<div class="more-goodness">
<nav role="navigation">
<ul id="sideMainNav" class="nav-bar goodness">
<li><a href="http://zurb.com/manifesto">Manifesto</a></li>
<li><a href="http://zurb.com/studios/our-work">Our Work</a></li>
<li><a href="http://zurb.com/university/courses">Product Design Courses</a></li>
</ul>
</nav>
</div>
<hr>
<div class="zurb-links">
<ul class="top">
<li class="logo"><a href="http://zurb.com"><img alt="Zurb-logo" src="zurb-logo-56a1fbbccc5d2e70881f700c62d67007.png"/></a></li>
<li><a href="/about">About</a></li>
<li><a href="http://zurb.com/blog">Blog</a></li>
<li><a href="/contact">Contact</a></li>
</ul>
<ul class="pillars">
<li>
<a href="http://www.zurb.com/studios" class="footer-link-block services">
<span class="title">Studios</span>
<span>Helping startups win since '98.</span>
</a>
</li>
<li>
<a href="http://foundation.zurb.com/" class="footer-link-block foundation">
<span class="title">Foundation</span>
<span>World's most advanced responsive framework.</span>
</a>
</li>
<li>
<a href="http://zurb.com/notable" class="footer-link-block apps">
<span class="title">Notable</span>
<span>Tools to rapidly prototype and iterate.</span>
</a>
</li>
<li>
<a href="http://zurb.com/university" class="footer-link-block expo">
<span class="title">University</span>
<span>Online training for smarter product design.</span>
</a>
</li>
</ul>
</div>
</section>
